.fa-heart-pulse {
    background-color: #0080ff;
    color: white;
    padding: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    margin-right: 20px;
    line-height: 20px;
    font-size: 20px;
}

.name p{
    /* font-weight: bold; */
    font-size: 18px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    line-height: 40px;
    text-transform: uppercase;
    color: blue;
    background-color: rgba(173, 216, 230, 0.447);
}

.menu-item, .footer-item {
    border-radius: 10px;
    margin-bottom: 5px;
    transition: 0.5s;
}

.menu-item:hover {
    background-color: rgba(211, 211, 211, 0.482);
    cursor: pointer;
}

.footer-item:hover {
    background-color: rgba(245, 144, 144, 0.358);
    cursor: pointer;
}

.active-item {
    background-color: rgba(173, 216, 230, 0.436);
    color: #0177ed;
}

.fa-xmark {
    width: 40px;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    transition: 0.5s;
    display: none;
}

@media (max-width: 768px) {
/* 1. Target the sidebar container specifically */
    .container {
        position: fixed;   /* Stay in place while sliding */
        top: 0;
        left: 0;
        width: 280px;      /* Fixed width for the drawer */
        height: 100vh;
        z-index: 1100;     /* Sit on top of everything */
        transition: transform 0.4s ease-in-out; /* The sliding animation */
        /* transform: translateX(100px); */
    }

    /* 2. Hide it to the left */
    .closed {
        transform: translateX(-300px);
    }

    /* 3. Pull it back to the edge */
    .open {
        transform: translateX(0);
    }
    .fa-xmark {
        display: block;
        margin-left: auto;
    }
    .fa-xmark:hover {
        background-color: rgba(211, 211, 211, 0.397);
    }
}