# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.idea/
.vscode/

# ===== Java / Spring =====
target/
*.log

# ===== Node / Angular =====
node_modules/
dist/

# ===== Env =====
.env

# ===== Docker =====
**/postgres_data
