.box {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 18px;
    margin-bottom: 15px;
}

textarea:focus {
    border-color: #007bff;
    outline: none;
    /* box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); */
}

.important {
    background-color: #FFF9E6 !important; /* Light cream background */
    border: 1px solid #FFECB3 !important;   /* Soft gold border */
    color: #414141;                         /* Dark grey for main text */
    border-radius: 12px;
}

/* Specific color for the "Important:" text and the icon */
.important b,
.important i {
    color: #996600;
}

.important p {
    margin-bottom: 0;
    font-size: 0.95rem;
    line-height: 1.5;
}

