<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2>Welcome Back!</h2>
            <p class="text-muted">Here's an overview of your health status</p>
        </div>
    </div>

    <div class="row g-4 mt-2">
        <div class="col-md-4 col-sm-12">
            <div class="box h-100" routerLink="/MainPage/Symptom-Checker">
                <div class="icon">
                    <i class="fa-solid fa-circle-info"></i>
                </div>
                <p>Check Symptoms</p>
                <p class="text-muted">Describe your Symptoms and get AI-Powered insights</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="box h-100" routerLink="/MainPage/Upload-X-ray">
                <div class="icon">
                    <i class="fa-solid fa-arrow-trend-up"></i>
                </div>
                <p>Upload X-ray</p>
                <p class="text-muted">Securely upload your chest X-ray for analysis</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="box h-100">
                <div class="icon">
                    <i class="fa-solid fa-capsules"></i>
                </div>
                <p>Scan Prescription</p>
                <p class="text-muted">Upload your prescription for AI-powered analysis</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4 activity">
            <h4 class="mb-4">Your Recent Activities</h4>
            <!-- <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Activity</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2024-06-10</td>
                            <td>Uploaded Chest X-ray</td>
                            <td><span class="badge bg-success">Completed</span></td>
                        </tr>
                        <tr>
                            <td>2024-06-08</td>
                            <td>Scanned Prescription</td>
                            <td><span class="badge bg-warning text-dark">Pending</span></td>
                        </tr>
                        <tr>
                            <td>2024-06-05</td>
                            <td>Checked Symptoms</td>
                            <td><span class="badge bg-success">Completed</span></td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
        </div>
    </div>
</div>